<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almoon.foundation_lib">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name=".common.LogcatUploadService"
            android:enabled="true"
            android:process=".LogcatUploadService"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>